* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  display: grid;
  width: 800px;
  margin: 10px auto;
  row-gap: 15px;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
}

h2 {
  font-size: 32px;
  grid-column: 1/-1;
}

p {
  font-size: 22px;
}

.header-h1 {
  font-size: 40px;
}

.section-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
